.product {
  &__image {
    position: relative;

    &__content {
      max-height: 70rem;
      max-width: 70%;
      margin-top: 4rem;

      &--left {
        margin-right: auto;
      }

      &--right {
        margin-left: auto;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__colors {
    display: flex;
    padding: 0;
    list-style: none;

    .product__color {
      width: 3rem;
      height: 3rem;
      margin-right: 1.5rem;
      border-radius: 50%;
      cursor: pointer;

      &--red {
        background-color: red;
      }

      &--orange {
        background-color: orange;
      }

      &--blue {
        background-color: blue;
      }

      &--black {
        background-color: black;
      }

      &--brown {
        background-color: brown;
      }

      &--grey {
        background-color: grey;
      }

      &--active {
        border: 3px solid #fff;
        box-shadow: 0 0 0 2px #ccc;
      }
    }
  }

  &__description {
    font-size: 75%;

    .bold {
      font-weight: 600;
    }
  }

  &__btn {
    margin-top: auto;
    align-self: flex-start;
  }
}
