.product {
  display: flex;

  &--baby-chair {
    @include respond('tab-land') {
      .product__image {
        order: -1;
      }
    }
  }

  &__image {
    position: relative;

    &__content {
      max-height: 70rem;
      max-width: 70%;
      margin-top: 18rem;

      &--left {
        margin-right: auto;
      }

      &--right {
        margin-left: auto;
      }

      @include respond('tab-land') {
        margin: 3rem auto;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__colors {
    display: flex;
    padding: 0;
    list-style: none;

    .product__color {
      width: 3rem;
      height: 3rem;
      margin-right: 1.5rem;
      border-radius: 50%;
      cursor: pointer;

      &--red {
        background-color: red;
      }

      &--orange {
        background-color: orange;
      }

      &--blue {
        background-color: blue;
      }

      &--black {
        background-color: black;
      }

      &--brown {
        background-color: brown;
      }

      &--grey {
        background-color: grey;
      }

      &--active {
        border: 3px solid #fff;
        box-shadow: 0 0 0 2px #ccc;
      }
    }

    @include respond('tab-land') {
      justify-content: center;
    }
  }

  &__info {
    @include respond('tab-land') {
      .bold,
      .product__title {
        text-align: center;
      }
    }
  }

  &__description {
    .bold {
      font-weight: 600;
    }

    @include respond('tab-land') {
      width: 75%;
      margin: 0 auto;

      p:last-child {
        margin-left: 2.5rem;
      }
    }

    @include respond('tab-port') {
      width: 80%;
    }

    @include respond('phone') {
      width: 95%;
    }
  }

  &__btn {
    margin-top: auto;
    align-self: flex-start;

    @include respond('tab-land') {
      margin: 1rem auto 0;
    }
  }
}
