body {
  color: $text-color;
  font-family: $text-font-stack;
  font-size: 1.6rem;
  font-weight: 300;
}

.heading {
  font-weight: 600;
  color: $black-color;

  &--large {
    font-size: 4rem;
  }

  &--medium {
    font-size: 3rem;
  }

  &--small {
    font-size: 2rem;
  }
}

.subheading {
  font-size: 2.1rem;
}
