.section-hero {
  display: flex;
  padding-top: 5rem;
  align-items: top;
  justify-content: center;
  height: 100vh;
  background: url('../public/bg/bg-hero.png');
  background-size: cover;
  background-position: center;
  text-align: center;

  &__btn {
    max-width: 40rem;
    margin: 4.5rem auto 0;
  }
}

.section-about {
  padding: 10rem 0;
  text-align: center;
}

.section-catalog {
  &__heading {
    text-align: center;
  }

  .product:first-of-type {
    margin-bottom: 12rem;
  }
}

.section-contacts {
  padding: 10rem 0;
  text-align: center;
}
