.section-hero {
  display: flex;
  padding-top: 5rem;
  align-items: top;
  justify-content: center;
  height: 100vh;
  background: url('../public/bg/bg-hero.png');
  background-size: cover;
  background-position: center;
  text-align: center;

  &__btn {
    max-width: 40rem;
    margin: 4.5rem auto 0;
  }
}

.section-about {
  padding: 10rem 0;
  text-align: center;

  &__features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 5rem auto 2rem;

    @include respond('phone') {
      flex-direction: column;
    }
  }

  &__feature {
    flex-basis: 20%;
    margin-right: 2rem;
    margin-bottom: 2.5rem;
    font-weight: 600;

    img {
      max-width: 5rem;
    }
  }

  &__certificates {
    img {
      max-width: 15rem;
      margin-right: 3rem;
    }
  }
}

.section-catalog {
  text-align: center;

  .product {
    text-align: left;
  }

  .product:first-of-type {
    margin-bottom: 12rem;
  }
}

.section-contacts {
  padding: 10rem 0;
  text-align: center;

  &__contact {
    display: flex;
    align-items: center;
    max-width: 20rem;
    margin: 0 auto 2rem;
    text-align: left;

    a {
      color: $text-color;
      text-decoration: none;
    }

    img {
      width: auto;
      height: 4rem;
      margin-right: 2rem;
    }
  }

  &__phone {
    width: 14rem !important;
    height: auto !important;
  }

  &__form {
    max-width: 40rem;
    min-height: 42rem;
    margin: 5em auto 0;
  }
}
