/// Regular font family
$text-font-stack: 'Montserrat', 'Open Sans', 'Helvetica Neue Light',
  'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

$text-color: rgb(50, 54, 57) !default;

$lightgray-color: #f6f4f7 !default;
$black-color: #454545 !default;

$red-color: #e74c3c !default;

$light-grey-color: rgb(212, 216, 227) !default;

/// Container's maximum width
$max-width: 114rem !default;
