.header {
  padding: 1rem 0;

  &__nav {
    display: flex;
    align-items: center;
    height: 7rem;

    a {
      margin-right: 3rem;
    }

    a:first-child {
      margin-right: auto;
    }
  }

  &__logo {
    max-width: 11rem;
  }
}
