.header {
  padding: 1rem 0;
  font-size: 1.7rem;
  background-color: #f6f4f7;

  &__nav {
    display: flex;
    align-items: center;
    height: 8rem;

    a {
      position: relative;
      margin-right: 3.25rem;
      color: $text-color;
      text-decoration: none;
    }

    a:first-child {
      margin-right: auto;
    }

    a:not(:first-child):hover:after {
      display: block;
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 2px;
      background-color: $red-color;
      animation: growRight 0.3s ease-in-out;
      content: '';
    }

    &--mobile {
      display: none;
      width: 100%;
      height: auto;
      position: fixed;
      top: 0;
      background-color: #f6f4f7;
      z-index: 1;

      .header__nav {
        height: 6.5rem;
        padding: 0 1rem;
        border-bottom: 3px solid $text-color;
      }

      .header__logo {
        max-width: 9.5rem;
        margin-top: 1rem;
      }

      .header__nav__content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 0;
        font-size: 2rem;
        background-color: #f6f4f7;

        a {
          display: block;
          width: 100%;
          text-align: center;
          visibility: hidden;

          &:hover:after {
            display: none;
          }
        }

        &--visible {
          height: 22rem;
          border-bottom: 3px solid $text-color;
          visibility: visible;
          animation: fadeIn 0.4s both;

          a {
            visibility: visible;
          }
        }
      }

      @include respond('tab-port') {
        display: block;
      }
    }

    &--desktop {
      @include respond('tab-port') {
        display: none;
      }
    }
  }

  &__logo {
    max-width: 12rem;
  }

  &__menu {
    max-width: 3.75rem;
    cursor: pointer;
  }
}
