.header {
  padding: 1rem 0;
  font-size: 1.7rem;
  background-color: #f6f4f7;

  &__nav {
    display: flex;
    align-items: center;
    height: 8rem;

    a {
      margin-right: 3.25rem;
      color: $text-color;
      text-decoration: none;
    }

    a:first-child {
      margin-right: auto;
    }
  }

  &__logo {
    max-width: 12rem;
  }
}
