extends layout.pug
include mixins

block content
  section.section-hero
    .section-hero__content
      h1.heading.heading--large Детские автокресла оптом
      p.subheading Оптовые поставки детских товаров от производителей
      a.section-hero__btn.btn(href="#form") Запросить прайс
  section.section-about.container#about
    h2.heading.heading--medium О бренде
    p 
      |Идея бренда BellaBaby в идеальном сочетании в каждом товаре современного дизайна
      |, функциональости, безопасности и доступной стоимости. 
      |Продукция BellaBaby соответствует международным и российским стандартам безопасности и качества.
      |Все товары простые и удобные в использовании. Цены доступные и демократичные.
    .section-about__features
      .section-about__feature
        img(src="./public/icons/time.svg", alt="")
        p Более 10 лет на рынке России
      .section-about__feature
        img(src="./public/icons/delivery.svg", alt="")
        p Быстрая отгрузка заказа в течение 1-2 дней
      .section-about__feature
        img(src="./public/icons/box.svg", alt="")
        p Поставка от 1 коробки
      .section-about__feature
        img(src="./public/icons/certificate.svg", alt="")
        p Современное сертифицированное контрактное производство
      .section-about__feature
        img(src="./public/icons/guarantee.svg", alt="")
        p Гарантия на весь товар
    .section-about__certificates
      img(src="./public/pdf/1.png", alt="")
      img(src="./public/pdf/1.png", alt="")
  section.section-catalog.container#catalog
    h2.section-catalog__heading.heading.heading--medium Наш каталог
    +product('baby-seat')
    +product('baby-chair')
  section.section-contacts.container#contacts
    h2.heading.heading--medium Контакты
    p Мы всегда готовы стремится с вами сотрудничать, делать деньги, пишите нам по любым вопросам.\\
    .section-contacts__contact 
      img(src="./public/icons/phone.svg", alt="")
      a(href="#")  +7 456 780 91 00
    .section-contacts__contact
      img(src="./public/icons/email.svg", alt="")
      a(href="") hello@gmail.com
    form.section-contacts__form.form#form(action="https://script.google.com/macros/s/AKfycbziM7giGedK64sqhVmUCWtxraXA7cRuWoeOOVsxFw/exec" method="POST")
      p.form__heading.heading.heading--small Заполните форму и получите оптовый прайс-лист
      input.form__input(type="text", name="IP/OOO", placeholder="ИП/ООО")
      input.form__input(type="text", name="Name", placeholder="Имя")
      input.form__input(type="phone", name="Phone", placeholder="Телефон")
      input.form__input(type="email", name="Email", placeholder="Email")
      input.form__btn.btn.btn--small(type="submit", value="Получить прайс")