extends layout.pug
include mixins

block content
  section.section-hero
    .section-hero__content
      h1.heading.heading--large Детские автокресла оптом
      p.subheading Оптовые поставки детских товаров от производителей
      a.section-hero__btn.btn(href="#catalog") Каталог
  section.section-about.container
    h2.heading.heading--medium О нашей компании
    p 
      |Мы самая офигенная компания. 
      br
      |Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos in harum dignissimos pariatur recusandae consequatur, necessitatibus vitae ab omnis dolor nam doloremque deserunt earum. Mollitia qui dignissimos omnis dolore amet.
  section.section-catalog.container
    h2.section-catalog__heading.heading.heading--medium Наш каталог
    +product('baby-seat')
    +product('baby-chair')
  section.section-contacts.container  
    h2.heading.heading--medium Контакты
    p Мы всегда готовы стремится с вами сотрудничать, делать деньги, пишите нам по любым вопросам.\\
    p 
      |Телефон
      a(href="#") + 123 456 78 901 00
    p
      |E-mail
      a(href="") hello@gmail.com