extends layout.pug

block content
  section.section-hero
    .section-hero__content
      h1.heading.heading--large Детские кресла оптом от производителя
      p.subheading Оставьте заявку на обратный звонок
      a.section-hero__btn.btn(href="#catalog") Каталог
  section.section-about.container
    h2 О нашей компании
    p 
      |Мы самая офигенная компания. 
      br
      |Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos in harum dignissimos pariatur recusandae consequatur, necessitatibus vitae ab omnis dolor nam doloremque deserunt earum. Mollitia qui dignissimos omnis dolore amet.
  section.section-catalog.container
    h2 Наш каталог
  section.contacts-section.container  
    h2 Контакты
    p Мы всегда готовы стремится с вами сотрудничать, делать деньги, пишите нам по любым вопросам.\\
    p 
      |Телефон
      a(href="#") + 123 456 78 901 00
    p
      |E-mail
      a(href="") hello@gmail.com