doctype html
html(lang='en')
  head
    title
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    header.header
      .header__social
        a(href="")
      .header__logo
      .header__contacts
      nav.header__nav
        a(href="#about") О нас
        a(href="#catalog") Каталог
        a(href="#contacts") Контакты
    main
      block content
    footer.footer